# Managed by Ansible. No credentials belong in this file.
APP_ENV={{ portal_environment }}
IMAGE={{ portal_image }}
CONTAINER_NAME={{ portal_container_name }}
VOLUME_NAME={{ portal_volume_name }}
BIND_ADDRESS={{ portal_bind_address }}
HOST_PORT={{ portal_host_port }}
CONTAINER_PORT={{ portal_container_port }}
